/* .swiper-pagination {
	bottom: 10px;
}

.bullet {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 50%;
	margin: 0 5px;
	padding: 1px 10px;
	scale: -1rem;
	cursor: pointer;
}

.bullet-active {
	background-color: black;
} */
